*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
}

h1,h2,h3,h4{
    font-family: "Poppins", sans-serif;
}

p{
    font-family: "Poppins", sans-serif;
}

a{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 16px;  
    text-decoration: none;
    transition: ease-in-out .3s;
}

a:hover{
    color: #FA4A0C;
}

/* header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 50px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style-type: none;
}

/* hero */

.hero{
    background-image: url(/img/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
}

.hero-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.hero-conteiner h3{
    color: #F6F6F6;
}

.hero-conteiner h2{
    font-size: 58px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.hero-conteiner h4{
    font-size: 24px;
    font-weight: 300;
    color: #F6F6F6;
    text-align: center;
}

.hero-btn{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.hero-btn button{
    padding: 20px 60px;
    color: #F6F6F6;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1000;

    transition: ease-in-out .3s;
}

.hero-btn button:hover{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

.sub-hero{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -225px;
    padding-bottom: 70px;
}

.sub-hero img{
    display: block;
    margin: 0 auto;
}

.sub-hero hr{
    width: 885px;
    border-bottom: none;
    display: block;
    margin: 0 auto;
    background-color: #E4E4E4;
    height: 3px;
}

.info-app h2{
    text-align: center;
    margin-bottom: 60px;
    font-size: 44px;
    font-weight: 600;
}

.container-info-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

.container-info-app h3{
    color: #FA4A0C;
}


.container-info-app h2{
    font-size: 44px;
    font-weight: 700;
    color: #000;
    text-align: left;
    margin-bottom: 0px;
}

.container-info-app h4{
    color: gray;
}

.text-info-app{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reverce{
    flex-direction: row-reverse;
}

.full-ad{
    background-image: url(/img/Rectangle\ 47.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    padding-top: 130px;
    padding-bottom: 130px;
    margin: 0 auto;
}

.full-ad-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.full-ad-conteiner h2{
    font-size: 44px;
    color: #fff;
}

.full-ad-conteiner h4{
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.full-ad-btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.full-ad-btn button{
    padding: 20px 60px;
    color: #F6F6F6;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;

    transition: ease-in-out .3s;
}

.full-ad-btn button:hover{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:40px 115px 40px 115px;
    max-width: 1440px;
}

.links{
    display: flex;
    gap: 30px;
}